.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .header-column {
    padding: 0 2rem;
    height:3rem;
}
.THIS .field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}

.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:70% !important;
}
.THIS .slds-form-element__control{
    width: 120%;
}
.THIS .imgclass img{
	margin-left:15% !important; 
    margin-top:45% !important; 
    max-height:72%!important;
    width:93% !important;
}
.THIS .imgclass2 img{
	margin-left:0% !important; 
    margin-top:10% !important; 
    max-height:72%!important;
    width:93% !important;
}