.THIS .backgroundclss{
     background-color: #142933;
}

.THIS .clr{
    color:white;
}

.THIS .SupportIconColor svg{
    fill:#3ca96a !important;
}

.THIS .TimeSheetIconColor svg{
    fill:#a323a4 !important;
}

.THIS .TRIconColor svg{
    fill:#a8b845 !important;
    
}

.THIS .AssetIconColor svg{
    fill:#8a8c31 !important;
}

.THIS {
    text-align: center;
}

.THIS .body{
	font-family: HelveticaNeue !important;
}

.THIS .truncatecss {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.THIS .ChangeColor {
    background-color:#e1ba0d;
}

.THIS .DefaultColor {
    background-color:white;
}

.THIS > p {
    font-size: 14px;
    color: #CCCCCC;
    margin: 4px 0;
}

.THIS .slds-box{
    border: none !important;
}

.THIS .icn svg{
    fill:#eea849 !important;
}

.THIS .icnlist svg{
    fill:#24b1dc !important;
}

.THIS .icnlvr svg{
    fill:#38ef7d !important;
}

.THIS .certificateInsert{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #e46133;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
	width: auto;
    height: auto;
    border-radius: 75px;
}

.THIS .AssetInsert{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #8a8c31;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
	width: auto;
    height: auto;
    border-radius: 75px;
}
.THIS .SupportInsert{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #3ca96a;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
	width: auto;
    height: auto;
    border-radius: 75px;
}

.THIS .timesheetInsert{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #a323a4;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
	width: auto;
    height: auto;
    border-radius: 75px;
}

.THIS .achivementList{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #24b1dc;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
    width: auto;
    height: auto;
    border-radius: 75px;
}

.THIS .leaverequestInsert{
 background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #11998e;
    min-height: 30px;
    max-height: 30px !important;
    max-width: 300px;
	width: auto;
    height: auto;
    border-radius: 75px;
}
.THIS .orgpic img{
    width: 37%;
    min-height: 28px;
}
.THIS .menteepic img{
    min-height: 32px;
}
.THIS img{
    min-height: 54px;
    max-height: 10px !important;
    max-width: 150px;
	width: auto;
    height: auto;
    border-radius: 75px;
}

.THIS.c-container {
   
    margin: 10px 0 20px 0;
}



.THIS .chartjs-tooltip-key {
    border-radius: 5px !important;
    height : 5px !important;
    width : 5px !important;
}

.THIS #verticalScroller {
    position: absolute;
    width:266px;
    height: 180px;
    overflow: hidden;
    margin-top: 18px;
    margin-left: -21px;
}

.THIS #verticalScroller >table{
    position:absolute;
    width:300px;
    height:200px;
   overflow:hidden;
}
.THIS #verticalScroller2 {
    position: absolute;
    width:300px;
    height: 180px;
    overflow: hidden;
    margin-top: 27px;
    margin-left: -5px;
}

.THIS #verticalScroller2 >table{
    position:absolute;
    width:92%;
    height:200px;
   overflow:hidden;
}

.THIS .orgchart{
    min-height: 150px !important;
	padding : 5px !important;
	background-image: none !important; 
}

.THIS #chart-container {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 200px !important;
    width: calc(100% - 24px);
    border: none;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.THIS .dot{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    background-color: #ffffff;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}

.THIS.lay{
    display:inline-block;
}