.THIS lightning-icon.Green > lightning-primitive-icon > svg > use{
    fill: green;
} 
.THIS lightning-icon.red > lightning-primitive-icon > svg > use{
    fill: red;
}
.THIS lightning-icon.blue > lightning-primitive-icon > svg > use{
    fill: blue;
}
.THIS.button.slds-is-active{
    color:#000000;
}
.THIS .onhold{
    border-color: rgb(238, 51, 21)!important;
}
.THIS .inprogress{
    border-color: rgb(238, 161, 21)!important;
}
.THIS .slds-text-heading--medium{
    font-size: 1.10rem !important;
}