<apex:component access="global" controller="EmailtoAchievementsReqController" >
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />
    <html>
        
        <div style="padding-left:4em; padding-right: 3em;">
            <div style="border:3px solid black; width: 600px;">
                <c:HeaderComponentVF />
                
                <body >
                    <div style="padding-left: 2em; padding-right:2em;">
                        <br/><apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
                        
                        <apex:repeat value="{!AchievementsList[0]}" var="b" rendered="{!If((AchievementsList.size> 0),True,False)}">
                            <apex:outputText value="{!JSENCODE(HTMLENCODE(b.Nrich__Employeee__r.Name ))}" />
                        </apex:repeat>
                        
                        <apex:slds />
                        <br/><br/>
                        
                        <apex:outputText value="{!$Label.nrich__status_of_achievement_request}"></apex:outputText><br/><br/>
                        
                        
                        <table style="border-collapse:collapse;width: 540px;table-layout: fixed;word-wrap: break-word;">
                            
                            <tr >
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Achievement_Name   }
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Approval_Status   }  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Category}  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Employee_Name  }  
                                </th>
                                
                            </tr>
                            
                            
                            <apex:repeat value="{!AchievementsList}" var="a">
                                <tr>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Name))}" /> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Approval_Status__c   ))}" /> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Category__c  ))}"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Nrich__Employeee__r.Name ))}"/> </td>
                                </tr>
                                
                                
                            </apex:repeat>
                            
                            
                            
                        </table>
                    </div>
                </body><br/><br/><br/>
            </div>
        </div>
        
    </html>
    
</apex:component>