<apex:component access="global" controller="EmailToCandidateRejectedController">
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />    
    <html><br/>
        <c:HeaderComponentVF />
        <br/>
        
        <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
            <apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel> 
            <apex:repeat value="{!InterviewRoundList[0]}" var="a" rendered="{!If((InterviewRoundList.size> 0),True,False)}">
                <apex:outputText value="{!JSENCODE(HTMLENCODE(a.nrich__Job_Application__r.nrich__Candidate__r.Name))}" escape="false"/>
            </apex:repeat>
            , <br/><br/>
            
            <apex:outputText value="{!$Label.nrich__emailtocandidaterejectedbody}" escape="false" ></apex:outputText>
            <br/><br/>
            <apex:outputLabel value="{!$Label.nrich__emailregard}" escape="false"></apex:outputLabel>
        </body>
    </html>
</apex:component>