<apex:component access="global" controller="EmailToPanelNotificationTemplate">
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />    
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <html>
        <div style="padding-left: 4em; padding-right: 3em;">
        <div style="border: 0px solid black; width: 600px;">
            <c:HeaderComponentVF />
            <body>
                <div style="padding-left: 2em; padding-right: 2em;">
                <apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
                <apex:repeat value="{!panelList}" var="a">
                    <b><apex:outputText value="{!JSENCODE(HTMLENCODE (a.Nrich__Employee__r.Name))}" escape="false" rendered="{!If((a.Id == RelatedToId),True,False)}"/></b>
                </apex:repeat>
                , <br/><br/>
                <apex:outputText value="{!$Label.nrich__emailtopanelbody}" escape="false" ></apex:outputText><br/><br/>
                
                &#160;&#160; {!$Label.Nrich__Interview_Slot}: &#160; <b><apex:outputText escape="false" value="{!startDateTime}" /> - </b>
                <b><apex:outputText value="{!endDateTime}" escape="false" /></b><br/>
                &#160;&#160; {!$Label.Nrich__Interview_Mode}: &#160; <b><apex:outputText value="{!interviewMode}" escape="false" /></b><br/>
                &#160;&#160; {!$Label.Nrich__Job_Round}: &#160; <b><apex:outputText value="{!jobRoundName}" escape="false"  /></b><br/>
                &#160;&#160; {!$Label.Nrich__Candidate_Name}: &#160; <b><apex:outputText value="{!candidateName}" escape="false" /></b><br/>
                &#160;&#160; {!$Label.Nrich__Candidate_Contact_Number}: &#160; <b><apex:outputText value="{!candidatePhone}" escape="false" /></b>
                
                <br/><br/>
                <table style="border-collapse:collapse;width: 540px;table-layout: fixed;word-wrap: break-word;">
                    <tr> 
                        <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="{!$Label.nrich__interviewer_name}" escape="false" ></apex:outputText></th>
                        <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="{!$Label.nrich__email_id}" escape="false"></apex:outputText></th>
                        <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="{!$Label.nrich__mobile}" escape="false" ></apex:outputText></th>
                    </tr>
                    <apex:repeat value="{!panelList}" var="a">
                        <tr> 
                            <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (a.Nrich__Employee__r.Name))}</td>
                            <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (a.Nrich__Employee__r.Primary_Email__c))}</td>
                            <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (a.Nrich__Employee__r.Mobile__c))}</td>
                        </tr>
                    </apex:repeat>
                </table>
                <br/>
                <br/>
                
                <apex:variable rendered="{!interviewRoundList.size>0}" value="feedback" var="feed">
                    <center><b><apex:outputText value="Feedback Details" escape="false" ></apex:outputText></b></center><br/>
                    <apex:repeat value="{!interviewRoundList}" var="intRound">
                        <apex:variable rendered="{!intRound.Nrich__Feedbacks__r.size>0}" value="fedback" var="fed">
                            <apex:outputText value="Interview Round Name" escape="false" ></apex:outputText>&#160; 
                            <b>:</b> &#160;
                            <b><apex:outputText value="{!intRound.Name}" escape="false" ></apex:outputText></b>
                            <table style="border-collapse:collapse;width: 540px;table-layout: fixed;word-wrap: break-word;">
                                <tr> 
                                    <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="Panel Member Name" escape="false" ></apex:outputText></th>
                                    <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="Interview Level" escape="false" ></apex:outputText></th>
                                    <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="Feedback Comments" escape="false" ></apex:outputText></th>
                                    <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;"><apex:outputText value="Overall Status" escape="false" ></apex:outputText></th>
                                </tr>
                                <apex:repeat value="{!intRound.Nrich__Feedbacks__r}" var="feed">
                                    <tr> 
                                        <td style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (feed.Nrich__Interview_Panel_Member__r.Nrich__Employee__r.Name))}</td>
                                        <td style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (feed.Nrich__Interview_Round__r.Interview_Level__c))}</td>
                                        <td style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (feed.Feedback_Description__c))}</td>
                                        <td style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;">{!JSENCODE(HTMLENCODE (feed.Feedback_Status__c))}</td>
                                    </tr>
                                </apex:repeat>
                            </table><br/>
                        </apex:variable>
                    </apex:repeat>
                </apex:variable>
                
                <apex:outputText value="{!$Label.nrich__emailtopanelbody1}" escape="false" ></apex:outputText> &#160;
                <apex:outputlink value="{!$Label.nrich__sitepageurl}/apex/InterviewAcceptancePage?id={!RelatedId}">Click Here</apex:outputlink>
                <br/><br/>
                <apex:outputText value="{!$Label.nrich__emailtopanelbodyfeedback}" escape="false" ></apex:outputText>
                <apex:repeat value="{!panelList}" var="a">
                    <apex:outputlink value="{!a.Feedback_Page_URL__c}" rendered="{!If((a.Feedback__c),True,False) && If((a.Id == RelatedToId),True,False)}">Click Here</apex:outputlink>
                </apex:repeat> <br/><br/>
                <apex:outputLabel value="{!$Label.nrich__emailtopanelbody2}" escape="false" ></apex:outputLabel>
                <br/><br/>
                <apex:outputLabel value="{!$Label.nrich__emailregard}" escape="false" ></apex:outputLabel>
                <br/><br/>
                    <b>{!$Label.nrich__resume_link}:</b>
                <apex:repeat value="{!panelList}" var="a">
                    <apex:outputText value="{!JSENCODE(HTMLENCODE (a.Nrich__Interview_Round__r.Nrich__Job_Application__r.Resume__c))}" escape="false"  rendered="If((a.Id == RelatedToId),True,False)}"/>
                </apex:repeat> <br/>
                </div>
            </body>
        </div>
        </div>
    </html>
</apex:component>