<apex:component access="global" controller="EmailtoCandidateCreateApplication">
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />    
    <html>
        <c:HeaderComponentVF />
        <br/><br/>
        <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
            <br/><apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
            <apex:repeat value="{!JobApplicationList}" var="a">
                <apex:outputText value="{!JSENCODE(HTMLENCODE(a.Nrich__Candidate__r.Name ))}" escape="false" rendered="{!If((a.Id == RelatedToId),True,False)}"/>
            </apex:repeat>
            ,
            <apex:outputText value="{!$Label.nrich__emailtocandidateappbody}" escape="false"></apex:outputText>
            <br/><br/>
            <apex:repeat value="{!JobApplicationList}" var="a">
                <b>{!$Label.Nrich__Application_Reference_NO}: </b>&#160; <apex:outputText value="{!a.Application_Reference_No__c}" escape="false"  rendered="{!If((a.Id == RelatedToId),True,False)}"/><br/>
                <b>{!$Label.Nrich__Candidate_Name}</b>&#160; <apex:outputText value="{!a.Nrich__Candidate__r.Name}" escape="false"  rendered="{!If((a.Id == RelatedToId),True,False)}"/><br/>
                <b>{!$Label.Nrich__Applied_For}: </b>&#160; <apex:outputText value="{!a.Nrich__Job__r.Name}" escape="false"  rendered="{!If((a.Id == RelatedToId),True,False)}"/><br/>
            </apex:repeat>
            <br/>
            <apex:outputText value="{!$Label.nrich__emailtocandidateappbody2}" escape="false"></apex:outputText>
            <br/><br/>
            <apex:outputLabel value="{!$Label.nrich__emailregard}" escape="false" ></apex:outputLabel>
        </body>
    </html>
</apex:component>