<apex:component access="global" controller="EmailtoCandidateOfferAcceptedController">
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />    
    <html>
        <c:HeaderComponentVF />
        <br/><br/>
        <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
            <br/><apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
            <apex:repeat value="{!JobApplicationList}" var="a">
                <apex:outputText value="{!JSENCODE(HTMLENCODE(a.Nrich__Candidate__r.Name))}"  escape="false" rendered="{!If((a.Id == RelatedToId),True,False)}"/>
            </apex:repeat>
            , 
            <apex:outputText value="{!$Label.nrich__emailtocandidateofferacceptedbody}" escape="false"  ></apex:outputText>
            
            <br/><br/>
            <apex:outputLabel value="{!$Label.nrich__emailregard}" escape="false" ></apex:outputLabel>
        </body>
    </html>
</apex:component>