<apex:component access="global" controller="HeaderComponentVF">
    <head>
        <p align="right">
            <img id="theimage" src="{!documentId}" width="100" height="100"/>
        </p>
    </head>
    
</apex:component>