<apex:component access="global" controller="MileStoneEmailTemplateController" >
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />
    
    <html>
        <div style="padding-left:4em; padding-right: 3em;">
            <div style="border:3px solid black; width: 600px;">
                <c:HeaderComponentVF />
                
                <body>
                    <div style="padding-left: 2em; padding-right:2em;">
                        
                        <br/><apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
                        
                        <apex:repeat value="{!MileStonedetailslist}" var="b">
                            <apex:outputText value="{!JSENCODE(HTMLENCODE(b.Nrich__Project__r.Nrich__Account_Manager__r.Name))}" escape="false" rendered="{!If((b.Id == RelatedToId),True,False)}"/>
                        </apex:repeat>
                        
                        <apex:slds />
                        <br/><br/>
                        
                        <apex:outputText value="{!$Label.Nrich__MileStoneEmailBody }" escape="false"></apex:outputText><br/><br/>
                        
                        <table style="border-collapse:collapse;width: 540px;table-layout: fixed;word-wrap: break-word;">
                            
                            <tr >
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Project_Name}
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__MileStone}
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Employee_Name}  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__Status}     
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                     {!$Label.Nrich__Completion_Date}
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;">
                                    {!$Label.Nrich__MileStonePercentageCompleted}
                                </th>
                            </tr>
                            
                            
                            <apex:repeat value="{!MileStonedetailslist}" var="a">
                                <tr>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Nrich__Project__r.Name ))}"  escape="false"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Name ))}" escape="false" /> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Nrich__Project__r.Nrich__Account_Manager__r.Name  ))}" escape="false"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(HTMLENCODE(a.Status__c   ))}" escape="false"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(Text(a.Completion_Date__c))}"  escape="false"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;"><apex:outputText value="{!JSENCODE(Text(a.Milestone_Percentage_Completed__c))}" escape="false" /> </td>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </body><br/><br/><br/>
            </div>
        </div>
    </html>    
</apex:component>