<apex:component access="global" controller="SupportNotificationController">
    
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />
    
    <html>
        
        <div style="padding-left:4em; padding-right: 3em;">
            <div style="border:3px solid black; width: 600px;">
                <c:HeaderComponentVF />
                
                <body >
                    <div style="padding-left: 2em; padding-right:2em;">
                        <br/><apex:outputLabel value="{!$Label.nrich__emailhello}" escape="false"> &#160; </apex:outputLabel>
                        
                        <apex:repeat value="{!SupportList}" var="b">
                            <apex:outputText value="{!JSENCODE(HTMLENCODE(b.Nrich__Employeee__r.Name  ))}" escape="false"  rendered="{!If((b.Id == RelatedToId),True,False)}"/> <br/>
                            {!$Label.nrich__case_solution}
                            <apex:outputText value="{!JSENCODE(HTMLENCODE(b.Proposed_Solution__c ))}" escape="false" rendered="{!If((b.Id == RelatedToId),True,False)}"/> <br/><br/>
                            
                        </apex:repeat><br/><br/>
                        
                        {!$Label.Nrich__Thank_You }
                        
                        
                        <apex:slds />
                        <br/><br/>
                        
                        
                        
                    </div> 
                </body><br/><br/><br/>
            </div>
        </div>
        
    </html>
</apex:component>