<apex:component access="global" controller="timesheetemailtemplatecontroller">
    <apex:attribute name="RelatedToId" type="Id" assignTo="{!relatedId}" description="This will take the RelatedTo.Id value of the Email Template" access="global"/>
    <apex:attribute name="ObjectType" type="String" assignTo="{!objType}" description="Type of actual object" access="global" />
    <html>
        <div style="padding-left:4em; padding-right: 3em;">
            <div style="border:3px solid black; width: 600px;">
                <c:HeaderComponentVF />
                <body>
                    <div style="padding-left: 2em; padding-right:2em;">
                        <br/><apex:outputLabel value="{!$Label.nrich__emailtemplate_email_hello}" escape="false"> &#160; </apex:outputLabel>
                        
                        <apex:repeat value="{!detailslist[0]}" var="b" rendered="{!If((detailslist.size> 0),True,False)}">
                            
                            <apex:outputText value="{!JSENCODE(HTMLENCODE(b.Nrich__Employee_Name__c))}" escape="false" />
                        </apex:repeat>
                        <apex:slds />
                        <br/><br/>											
                        
                        <apex:outputText value="{!$Label.Nrich__EmailBody_Timesheet_emailtemplate }" escape="false" ></apex:outputText><br/><br/>
                        
                        <table style="border-collapse:collapse;width: 540px;table-layout: fixed;word-wrap: break-word;">
                            
                            <tr >
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;" bgcolor="#01A9DB">
                                    {!$Label.Nrich__Project_Name  }
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;" bgcolor="#01A9DB">
                                    {!$Label.Nrich__Employee_Name  }  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;" bgcolor="#01A9DB">
                                    {!$Label.Nrich__Approval_Status  }  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;" bgcolor="#01A9DB">
                                    {!$Label.Nrich__Manager_Comments  }  
                                </th>
                                <th style="border: 1px solid black;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;" bgcolor="#01A9DB">
                                    {!$Label.Nrich__Date }
                                </th>
                            </tr>
                            
                            
                            <apex:repeat value="{!detailslist}" var="a">
                                <tr>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;" bgcolor="#A9E2F3"><apex:outputText escape="false"  value="{!JSENCODE(HTMLENCODE(a.Project_Name__c ))}" /> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;" bgcolor="#A9E2F3"><apex:outputText escape="false" value="{!JSENCODE(HTMLENCODE(a.Employee_Name__c ))}"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;" bgcolor="#A9E2F3"><apex:outputText escape="false" value="{!JSENCODE(HTMLENCODE(a.Status__c))}"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;" bgcolor="#A9E2F3"><apex:outputText escape="false"  value="{!JSENCODE(HTMLENCODE(a.Comments__c))}"/> </td>
                                    <td style="border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;" bgcolor="#A9E2F3"><apex:outputText escape="false" value="{!JSENCODE(Text(a.Date__c))}"/> </td>
                                    
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </body><br/><br/><br/>
            </div>
        </div>
    </html>
</apex:component>