.THIS .slds-section-title--divider {
    padding: 0px;
    background: #49c662;
}

.THIS .slds-item {
    border: none !important;
    background-color: #fff;
    border-radius: 4px !important;    
}

.THIS .slds-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

.THIS .slds-tile__detail{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px;  
    border-right-color: rgb(201, 194, 194);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(201, 194, 194);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(201, 194, 194);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.THIS .slds-lane {
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid whitesmoke;
    flex: 1 1 0%;
    min-width: 5rem;
}

.THIS .slds-col:first-child {
    border-left: none;
}

.THIS .slds-item-placeholder {
    border: 4px dashed gray !important;
    height: 5rem;
    background-color: rgba(255, 235, 59, 0.58);
}

.THIS .slds-item-placeholder:before {
  	content: "Drop the Card Here!";
    font-size: 1rem;
    font-weight: bold;
}

.THIS .slds-lane[data-drop-enabled=false] {
    background-color: rgba(244, 67, 54, 0.25);
}

.THIS .moving-card {
    margin-top: -35px;
    opacity: 0.5;
    transform: rotate( -5deg );
}

.THIS .slds-scrollable_y::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

.THIS .slds-scrollable_y::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

.THIS .slds-scrollable_y::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

.THIS .slds-scrollable_y::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.THIS .slds-scrollable_y::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
.THIS .dot{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}

.THIS .dot1{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}


.THIS .dot2{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}


.THIS .dot3{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}

.THIS .Rectangle {
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 4px;
  background-color: #e6e6e6;
}
.THIS .Oval {
  width: 35px;
  border-radius: 50%;
  text-align: center;
  height: 35px;
  border: solid 1px #000000;
  padding-top: 7px;
}
.THIS .sprintInfo {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #222222;
}
.THIS .slds-button_icon-bare {
    line-height: -1px !important;
    color: white;
}
.THIS .prioritycss {
  width: auto;
  height: auto;
  border-radius: 2px;
  background-color: #ffffff;
  text-align: center;
  padding: 4px;
}
.THIS .P1 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.THIS .slds-tabs--path .slds-is-incomplete{
    background-color: #626161 !important;
}
.THIS .slds-is-incomplete:before{
    background-color: #626161 !important;
}
.THIS .processcolor {
    color: white !important;
}
.THIS .slds-p-around--small{
    padding: 0.6rem !important;
}