.THIS .backgroundclss{
    background-color: #142933;
}

.THIS .fc-more{
   text: block;
}

.THIS .editclass{
    height:600px;
    width:750px;
}
.THIS .editclass {
    height: 600px;
    width: 638px;
}

.THIS .Rectangle{
    width: 1366px;
    height: 696px;
    background-color: #ffffff;
}

.THIS .PjAllocation{
    margin-left: 29%;
}

.THIS .fc-day-number {
    color:#ffffff;
    font-weight:100;
    font-family: HelveticaNeue;
}

.THIS .fc-week-number{
    color:#999999;
}

.THIS .fc-day-header{
    color:#ffffff;
    border-style: none;
    font-family: HelveticaNeue;
}

.THIS .fc-center{
    color:#ffffff;
    font-family: HelveticaNeue;
    font-size: medium;
}



.THIS .fc button{
    color:#142933;
}

.THIS .fc-day{
    border-color: #c3c8ca;
}

.THIS .fc-event-container{
    font-weight: bold;
    font-family: HelveticaNeue;
    
}

.THIS .fc-head-container{
    border-style: none;
}

.THIS .fc-unthemed .fc-today{
    background:#e6f1f6;
}

.THIS .fc-unthemed .fc-today .fc-day-number{
    color:#142933;
    
}

.THIS .fc-highlight{
    background: #def0f8;
    opacity:0.8;
    
}

.THIS .dot{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}

.THIS .dot1{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}


.THIS .dot2{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}


.THIS .dot3{
    height: 12px ;
    width: 12px ;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    color : #139d8e;
    text-align: center;
    padding-top: 5px;
}

.THIS .fc-content{
    text-align:center;
}

.THIS .fc-title{
    color:white;
    font-size: large;
}

.THIS .fc-event{
    background:none;
    border:none;
    
}

.THIS .fc-event-dot{
    background:none;
}


.THIS .button{
    background-color:#7acdf2;
    
}

.THIS .fc-prev-button{
    margin-left:6px;
    
}

.THIS .fc-month-button{
    margin-left:;
    
}

.THIS .fc-next-button{
    margin-right:6px;
    
}

.THIS .fc-basicWeek-button{
    border-radius: 5px;
    margin-left: 4px;
    background-color: white;
    
}

.THIS .cell{
    background-color: #f1f1f1;
    border-bottom: thin solid;
    
    border-bottom-color: #6E787E;
    
}


.THIS .slds-table_bordered{
    border-top:none;
    border-bottom:none;
}

.THIS .fc-button.fc-state-default.fc-corner-left.fc-corner-right{
    border-radius: 2px;
    
}

.THIS .fc-next-button.fc-button.fc-state-default.fc-corner-left{
    border-radius: 5px;
    
}

.THIS .fc.fc-button-group{
    border-radius: 2px;
}

.THIS .fc-prev-button.fc-button.fc-state-default.fc-corner-right{
    margin-left: 295px;
    border-radius: 5px;
    
    
}

.THIS .fc-month-button.fc-button.fc-state-default.fc-corner-left{
    margin-left: 9px;
    border-radius: 5px;
    background-color:white;
}


.THIS .fc-view-container{
    margin-top:7%;
}

.THIS .fc-left{
    margin-top:3%;
}

.THIS .fc-right{
    margin-top:3%;
}

.THIS .fc-center{
    margin-top:3%;
}




/*.THIS .table.blueTable {
border: 0px solid #FF11FF;
background-color: #EEEEEE;
width: 100%;
text-align: left;

}
.THIS .table.blueTable td  {
border: 1px solid #AAAAAA;
padding: 3px 7px;
}
.THIS .table.blueTable th{
border: 1px solid #AAAAAA;
padding: 3px 7px;   
}
.THIS .table.blueTable tbody td {
font-size: 13px;
color: #514F4D;
}
.THIS .table.blueTable tr:nth-child(even) {
background: #F1F1F1;
}
.THIS .table.blueTable thead {
background: #FAFAF9;
background: -moz-linear-gradient(top, #fbfbfa 0%, #fafaf9 66%, #FAFAF9 100%);
background: -webkit-linear-gradient(top, #fbfbfa 0%, #fafaf9 66%, #FAFAF9 100%);
background: linear-gradient(to bottom, #fbfbfa 0%, #fafaf9 66%, #FAFAF9 100%);
border-bottom: 0px solid #444444;
}
.THIS .table.blueTable thead th {
font-size: 15px;
font-weight: bold;
color: #514F4D;
border-left: 0px solid #F1F1F1;
}
.THIS .table.blueTable thead th:first-child {
border-left: none;
}*/






.THIS .inlinecell{
    padding: 5px 10px;
    background-color:#fafafa;
}

.THIS .inlinecell1{
    padding: 4px 9px;
    background-color: white;
}

.THIS .inlinecell2{
    padding: 10px 10px;
    background-color:#fafafa;
}


.THIS .rwcll{
    border-top: 1px solid #6e787e;
    height: 40px;
    border-bottom: 1px solid #6e7873;
    
}

.THIS .column {
    float:left;
    width: 50%;
}

.THIS .icon{
    margin-left: 21%;
}

.THIS .icon2{
    margin-right: 28%;
}

.THIS .calendarmobilestyle{
    width:100%;
}