<apex:page controller="InterviewAcceptanceClass" standardStylesheets="false" setup="false" showHeader="false"  docType="html-5.0" >
    
    <apex:slds />
    <style type="text/css">
        /* To style the modal*/
        .Popup {
        /* background-color: white;
        border-width: 2px;
        z-index: 9999;
        left: 50%;
        padding: 10px;
        border-radius:0.5%;
        position: absolute;*/
        background-color: white;
        border-width: 2px;
        z-index: 9999;
        left: 50%;
        padding:10px;
        position: absolute;
        object-position:center;
        border-radius:0.5%;
        width: 60%;
        margin-left: -350px;
        top:31%;
        }
        /*To style background for the modal */
        .popupBackground {
        background-color: black;
        opacity: 0.20;
        filter: alpha(opacity=20);
        //position: absolute;
        position:fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
        background-size: cover;
        }
        #overlay {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        text-align:center;
        z-index: 1000;
        }
        #overlay {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        text-align:center;
        z-index: 1000;
        }
        .slds-scope .slds-page-header__title {
        font-size: 1.40rem;
        font-weight: 200;
        line-height: 2.25;
        
    </style>
    
    
    <apex:form id="formid"> 
        <!-- Toast Start to display for bucket name validation. -->
        
        <div class="slds-scrollable_y slds-theme_default">
            <div class="slds-size_4-of-5 slds-box slds-page-header slds-align_absolute-center slds-theme_inverse" style="border-radius:0.4%;">
                <div class="slds-media">          
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate slds-align-middle"  title="Invitation: Interview Panel Member">
                        <apex:outputLabel escape="false" value="{!$Label.nrich__interview_acceptance_rejection_heading}"></apex:outputLabel>
                        </h1>
                    </div>
                </div> 
            </div>
        </div>
        <div align="center;" class="slds-p-top_xx-small slds-p-bottom_x-small">
            <center>
                <b> <apex:outputText escape="false" value="{!SuccessMessage}" rendered="{!showMessage}" style="color:darkgreen;text-align:center;padding-top:10%;padding-bottom:20%;"></apex:outputText></b>
            </center>
        </div>
        <div class="slds-box slds-panel slds-p-top_small" id="panelid"> 
            <div  style="padding-left:20%;">
                <label class="slds-text-body_regular slds-p-left_xx-large"><b><apex:outputLabel value="{!$Label.nrich__interview_round_name}"></apex:outputLabel></b></label>
                <span  class="slds-p-right_xx-large" >
                    <b> <span style="color:blue;"> <apex:outputField value="{!currentRound.Name}" /></span></b>
                </span>
                <label class="slds-text-body_regular slds-p-left_small" ><b><apex:outputLabel value="{!$Label.nrich__employee_name}"></apex:outputLabel></b></label>
                <span class="slds-p-right_xx-large">
                    <b> <span style="color:blue;"><apex:outputField value="{!currentRound.Employee__r.Name}"/></span></b>
                </span>
                <label class="slds-text-body_regular slds-p-left_small"><b><apex:outputLabel value="{!$Label.nrich__interview_round_label}"></apex:outputLabel></b></label>
                <span class="slds-p-right_xx-large">
                    <b><span style="color:blue;"><apex:outputField value="{!currentRound.Interview_Round__r.name}"/></span></b>
                </span>
            </div> 
            <div style="padding-left:40%;">
                <apex:actionStatus id="loader" startText="hi">
                    <apex:facet name="start">
                        <div class="slds-spinner_container" style="position:fixed">
                            <div class="slds-spinner slds-spinner--large slds-spinner_brand" role="alert">
                                <span class="slds-assistive-text">{!$Label.Loading}</span>
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionStatus>
                <div class="slds-p-top_xx-large slds-p-left_xx-large" id="buttondivisionid">
                    <apex:commandButton action="{!Approve}" value="{!$Label.nrich__accept}" styleclass="slds-button slds-button_brand " status="loader" disabled="{!disableApprovebutton}"/>
                    <apex:commandButton action="{!Reject}" value="{!$Label.nrich__reject}" styleclass="slds-button slds-button_brand " status="loader" disabled="{!disableRejectbutton}" reRender="popupid,panelid"/>
                </div>
            </div>
        </div>
        <!--Modal Start  -->
        <apex:outputPanel id="popupid" Styleclass="slds-panel slds-grid slds-grid_vertical">
            
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}" />
            <apex:outputPanel styleClass="Popup" layout="block" rendered="{!displayPopUp}" style="transform:translate(0%, -35%);align:center" id="id1">
                <div class="slds-form-element" id="modal_id">
                    <div class="slds-panel ">
                        <h1 align="center" class="slds-p-bottom_medium">
                            <b><apex:outputLabel escape="false" value="{!$Label.nrich__reason_for_rejecting_interview}"></apex:outputLabel></b> 
                        </h1> 
                        <div class="slds-box">
                            <b><apex:outputLabel escape="false" styleClass="slds-text-body_regular" value="{!$Label.nrich__rejection_reason}"><span style="color:red">*</span></apex:outputLabel></b>
                            <apex:inputField value="{!currentRound.Description__c}" StyleClass="slds-input"/>
                            <apex:outputLabel escape="false" value="Please Fill Description Value" rendered="{!showerror}" style="color:red;"></apex:outputLabel>
                            
                            <div style="padding-left:40%;">
                                <apex:actionStatus id="loader2" startText="hi">
                                    <apex:facet name="start">
                                        <div class="slds-spinner_container" style="position:fixed">
                                            <div class="slds-spinner slds-spinner--large slds-spinner_brand" role="alert">
                                                <span class="slds-assistive-text">{!$Label.Loading}
                                                </span>
                                                <div class="slds-spinner__dot-a"></div>
                                                <div class="slds-spinner__dot-b"></div>
                                            </div>
                                        </div>
                                    </apex:facet>
                                </apex:actionStatus>
                                <div class="slds-p-top_x-large">
                                    <apex:commandButton Style="text-align: center;" Styleclass="slds-button slds-button_brand" status="loader2" action="{!save}" value="Save"  rerender="formid"/>
                                    <apex:commandButton Style="text-align: center;" Styleclass="slds-button slds-button_brand" status="loader2" action="{!close}" value="Close" rerender="formid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <!--Modal End--> 
    </apex:form>
</apex:page>