.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:90% !important;
}
.THIS .forceContentFileCard{
    width: 30rem !important;
    margin-left: 5%;
}
.THIS .buttoncss{
    margin-top: 2%;
}